<div class="row">
  <div class="col-md-12">
    <form
      [formGroup]="form"
      (submit)="submit()"
      id="TypeValidation"
      class="form-horizontal"
    >
      <div class="card">
        <div class="card-header card-header-rose card-header-text">
          <div class="card-text">
            <h4 class="card-title">New Photo</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div
                class="fileinput fileinput-new text-center"
                data-provides="fileinput"
              >
                <div class="fileinput-new thumbnail">
                  <img src="../../assets/img/image_placeholder.jpg" alt="..." />
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                <div>
                  <span class="btn btn-rose btn-round btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <input
                      class="form-control"
                      formControlName="image"
                      type="file"
                      name="image"
                      (change)="upload($event.target.files)"
                    />
                  </span>
                  <a
                    href="#pablo"
                    class="btn btn-danger btn-round fileinput-exists"
                    data-dismiss="fileinput"
                    ><i class="fa fa-times"></i> Remove</a
                  >
                </div>
                <h4 class="title">Photo</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-9">
              <div class="form-group">
                <input
                  class="form-control"
                  name="name"
                  type="text"
                  formControlName="name"
                  required="true"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 col-form-label">Alt</label>
            <div class="col-sm-9">
              <div class="form-group">
                <input
                  class="form-control"
                  name="alt"
                  type="text"
                  formControlName="alt"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ml-auto mr-auto">
          <button type="submit" class="btn btn-rose">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
