<nav class="float-left">
  <ul>
    <li>
      <a href="https://www.creative-tim.com/"> Ecodim </a>
    </li>
    <li>
      <a href="https://www.creative-tim.com/presentation"> About Us </a>
    </li>
    <li>
      <a href="https://www.creative-tim.com/blog"> News </a>
    </li>
    <li>
      <a href="https://www.creative-tim.com/license"> Contact Us </a>
    </li>
  </ul>
</nav>
<div class="copyright float-right">
  &copy; 2021, made with
  <i class="material-icons" style="color: #e83875">favorite</i> by
  <a
    href="https://ivoirelight-technologies.web.app/"
    target="_blank"
    style="color: #e2a43b"
    ><strong>Ivoirelight-technologies</strong></a
  >
  for a better web.
</div>
