<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title">
          category List
          <div class="col-md-9 pull-right">
            <a
              routerLink="/categories/create"
              class="btn btn-fill btn-rose pull-right"
            >
              <i class="material-icons">add</i>
              Add
              <div class="ripple-container"></div
            ></a>
          </div>
        </h4>
      </div>
      <div class="card-body table-full-width table-hover">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>#</th>
              <th>Name</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td class="td-actions">
                  <a
                    type="button"
                    [routerLink]="['/categories', category.id, 'edit']"
                    rel="tooltip"
                    class="btn btn-info"
                  >
                    <i class="material-icons">edit</i>
                  </a>
                  <button
                    type="button"
                    rel="tooltip"
                    (click)="delete(category.id)"
                    class="btn btn-danger"
                  >
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
